.backgroundContainer {
  background-image: url('/images/Group 56.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 50vh; /* Ensures the background spans the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* Make the background span the full width */
}
